.apply
  padding 47px 0
  .text
    margin-top 21px
  .button 
    max-width: 250px
    width 100%
    margin 30px auto 0
    position relative
  .line 
    position absolute
    z-index -1
    &1
      width 863px
      bottom: 84%;
      right: -117px;
    &2
      width 543px
      top: 99%;
      right: 104px;

    