.bluezilla
  padding 65px 0 65px
  .wrapper 
    max-width: 1250px
  &-bg 
    position absolute
    width 1440px
    left: 40%;
    top: -46%;
    pointer-events: none
    z-index -1
  .content
    display flex
    justify-content flex-start
    margin-top 37px
  .image
    max-width: 389px
    width 100%
    margin-right 46px
    margin-top 28px
  .info 
    max-width: 780px
    width 100%
    p 
      margin-bottom 15px
    &-bottom 
      display flex
      justify-content flex-start
      align-items center
    &-subtitle 
      margin-right 25px 
    &-button 
      margin-right 30px
      display flex
      justify-content center
      align-items center
      max-width: 80px
      width 100%
      transition all .3s ease-in
      &:hover 
        transform: scale(.8)
  
  @media (max-width : 998px)
    .content 
      flex-direction: column
    .image 
      order 2
      margin 0 auto
    .info 
      max-width: none
      margin-bottom 60px
      text-align center
      &-bottom 
        justify-content center
        text-align left
    .info-button 
      max-width: 60px
      margin 0 10px
  
  @media (max-width : 768px)
     .info-button 
        max-width: 50px
        margin 0 10px
  @media (max-width : 480px)
    .info-bottom 
      flex-wrap wrap 
    .info-subtitle 
      width 100%
      text-align center
      margin-bottom 15px
      margin-right 0
   


