.mainSection
  padding 200px 0 80px
  .wrapper  
    max-width: 1250px
    padding 0 35px
  .title,
  .text 
    text-align left
  .content 
    position relative
    z-index 2
    padding-left: 31px;
    padding-top: 50px;
  .title-img
    margin-bottom 25px
  .title 
    max-width: 550px
    width 100%
    margin-bottom 8px
    margin-left 0
  .text 
    max-width: 535px
    width 100%
    margin-left auto
    margin-right 0
    line-height 35px
  .el 
    position: absolute
    pointer-events: none
    &1
      max-width 1887px 
      width 156%
      top: -410px;
      right: -680px;
    &2
      max-width 1821px 
      width 151%
      top: -919px;
      left: -846px;
  .scroll 
    position absolute 
    left: -2.8%;
    top: 33%;
    transform: rotate(90deg)
    p 
      color rgba($white, .3)
      font-size: 15px;
      line-height: 30px;
    &:after 
      content ""
      position absolute 
      width 218px
      height 1px
      background: linear-gradient(90deg, #FFFFFF 0.23%, rgba(255, 255, 255, 0) 100.23%)
      opacity .3
      top: 12px;
      left: 94px;
  
  @media (max-width : 1300px)
    .scroll 
      left -15px
    
  @media (max-width : 1024px)
    .el1 
      top -330px
    .el2 
      top -760px

  @media (max-width : 998px)
    padding 130px 0 80px
    .wrapper 
      padding 0 15px
    .text 
      margin-left 0
    .el1
      top -330px
      width 1150px
      right -580px
    .el2 
      top -573px
      width 1220px
      left -530px
    .content 
      padding 0
    .scroll 
      display none
    .text 
      line-height 25px

  @media (max-width : 768px)
    .el1 
      display none
    .title-img  
      max-width: 160px