/*==========  Desktop First  ==========*/

// /* Large Devices, Wide Screens */
// @media (max-width : 1200px)
// /* Medium Devices, Desktops */
// @media (max-width : 992px)
// /* Small Devices, Tablets */
@media (max-width : 768px)
  .title
    font-size: 35px;
    line-height: 45px;
  p 
    font-size: 15px;
    line-height: 25px;
  
  .subtitle 
    font-size: 17px;
    line-height: 30px;
  
  h3,
  h4 
    font-size: 17px;
    line-height: 25px;
  
  .default-btn 
    padding 21px 20px 19px

// /* Small Devices, Tablets */
// @media (max-width : 568px)
// /* Small Devices, Tablets */
// @media (max-width : 480px)
// /* Custom, iPhone Retina */
// @media (max-width : 380px)
/**/
