.tokenomics
  padding 66px 0
  position relative
  &-bg 
    position absolute
    top -51%
    left 50% 
    transform: translateX(-50%)
    width 2232px
    pointer-events: none
    z-index -1
  .blocks
    display flex
    justify-content space-between
    align-items center
    flex-wrap: wrap
    margin-top: 42px;
    padding-top: 6.9%
    position relative
    &:after 
      content ""
      position absolute
      width 122.034%
      height 374px
      top 53%
      left 50%
      transform translate(-50%, -50%)
      background-image: url(../img/main/tokenomics/line.svg)
      background-repeat: no-repeat
      background-size: contain
      background-position: center center;
      pointer-events: none
  .block
    width 20%
    text-align center
    margin-bottom 57px
    &-title 
      margin-bottom 23px
    &-text
      font-weight: 600;
      font-size: 30px;
      line-height: 30px;
      text-align: center;
      color: #7DEEFF;
  @media (max-width : 998px)
    .blocks:after 
      background-image: url(../img/main/tokenomics/line2.svg)
      background-size cover
      width calc(100% + 50px)
      height 100%
    .blocks 
      padding-top 11%
      padding-bottom 6%
      padding-left 45px
      padding-right 45px
      margin-top 0
    .block 
      margin 20px 0
  @media (max-width : 768px)
    .blocks
      max-width: 345px
      width 100%
      margin 0 auto
      padding 40px 0 0
    .blocks:after 
      background-image: url(../img/main/tokenomics/line3.svg)
      transform: translate(0)
      height 830px
      width 440px
      left -106px
      top 0

    .block
      width 50%
      margin 37px 0